{% extends "base.html" %}

{% block branding %}<h1>Configuration Manager</h1>{% endblock %}
{% block content %}
<table>
    <thead>
        <th>Name</th>
        <th>Board Name</th>
        <th>Power</th>
        <th>Rsvd</th>
        <th>Until</th>
        <th>Comment</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>
        {% for config in config_list %}
        <tr id="{{ config.id }}" >
            <td>{{ config.name }}</td>
            <td>{{ config.board.name }}</td>
            <td>{{ config.reservation.user|default:'-' }}</td>
            <td>{{ config.reservation.creation_date|default:'-' }}</td>
            <td>{{ config.reservation.release_date|default:'-' }}</td>
            <td>{{ config.reservation.comment|linebreaks|default:'-' }}</td>
            {% if config.reservation %}
                <td><a href="{% url 'conf_manager:edit_reservation' pk=config.reservation.id %}">edit</a></td>
                <td><a href="{% url 'conf_manager:release' pk=config.reservation.id %}">release</a></td>
            {% else %}
                <td colspan="2"><a href="{% url 'conf_manager:reserve' config_id=config.id %}">reserve</a></td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>No configuration present</tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}