{% extends "base.html" %}

{% block branding %}<h1>Configuration Manager</h1>{% endblock %}

{% block content %}

    <li>Name: {{ config.name }}</li>
    <li>Board: {{ config.board.name }}</li>
    {% if config.board %}
    <ol>
        <li>description: {{ config.board.description }}</li>
        <li>type: {{ config.board.type.name }}</li>
        <li>board type: {{ config.board.type.board }}</li>
        <li>Devices:</li>
        <ol>
            {% for device in config.board.device_set.all %}
                <li>{{ device }} - {{ device.bp_mac }}</li>
            {% endfor %}
        </ol>
        <li>Device aliases:</li>
        <ol>
            {% for alias in config.board.devices %}
                <li>{{ alias.device_type }} - {{ alias }}</li>
            {% endfor %}
        </ol>

    </ol>
    {% endif %}
    <li>Backplane: {{ config.backplane }}</li>
    <ol>
        <li>Network: {{ config.backplane.group.network }}</li>
        <li>Power supply: {{ config.backplane.power }}</li>
    </ol>
    <li>Reserved by: {{ config.reservation.user|default:'-' }}</li>

{% endblock %}