{% extends "base.html" %}

{% block branding %}<h1>Lab IP reservations</h1>{% endblock %}
{% block content %}
<a href="{% url 'lab_net:add_pool' %}">Add Pool</a>
<table>
    <thead>
        <th>IP</th>
        <th>Type</th>
        <th>Rsvd</th>
        <th>Until</th>
        <th>Comment</th>
    </thead>
    <tbody>
        {% for ip in iplist %}
        <tr id="{{ ip.id }}" >
            <td>{{ ip.ip }}</td>
            <td>{{ ip.label_list }}</td>
            <td>{{ ip.reservation.datetime|default:'-' }}</td>
            <td>{{ ip.reservation.release|default:'-' }}</td>
            <td>{{ ip.reservation.comment|linebreaks|default:'-' }}</td>
        </tr>
        {% empty %}
        <tr>Empty IP Pool</tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}